<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fvox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Fvox.Properties.Settings>
            <setting name="everyhour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="period" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="power" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="threshold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="every" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="from" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="to" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="thresholdpercent" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="everypercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="trayed" serializeAs="String">
                <value>False</value>
            </setting>
        </Fvox.Properties.Settings>
    </userSettings>
</configuration>